<h3>Editar Categoria</h3>
<form action="editCategoria" method="post" >
    <input class="form-control" type="hidden" name="id_categoria" id="id_categoria" value="{$categoria->id_categoria}" >
    <input required class="form-control" type="text" name="Categorias" id="Categorias" value="{$categoria->Categorias}" >
    <input required class="form-control" type="text" name="Tamanio" id="Tamanio" value="{$categoria->Tamanio}">   
    <input type="submit" value="Editar Categoria" class="btn btn-warning">
</form> 