<h3>Agregar una Categoria</h3>
<form class="input-group" action="addCategoria" method="post" >
    <input required class="form-control" type="text" name="Categoria" id="Categoria" placeholder="Categoria">
    <input required class="form-control" type="text" name="Tamanio" id="Tamanio" placeholder="Tamaño">
    <input type="submit" value="Agregar Categoria" class="btn btn-success">
</form> 
{include file='templates/footer.tpl'}