{include file="templates/header.tpl"}
<h2>Registro</h2>
    <form method="POST" action="registro" class="form-alta">
        <input type="text" name="Usuario" placeholder="Ingrese su usuario..." required>
        <input type="password" name="Contrasenia" placeholder="Ingrese su contraseña..." required>
        <input type="submit" value="Registrar cuenta" class="btn btn-primary">
    </form>
