<div>
    <div>
        <div>
            <h2>Log In</h2>
            <form class="form-alta" action="login" method="post">
                <input placeholder="Usuario" type="text" name="Usuario" id="Usuario" required>
                <input placeholder="Contraseña" type="password" name="Contrasenia" id="Contrasenia" required>
                <input type="submit" class="btn btn-primary" value="Login">
            </form>
        </div>
    </div>
</div>
